http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members?query=adfaaf
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"adfaaf"},"total-results":0,"items":[]}}'
  recorded_at: 2022-11-09 09:44:42 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/members/323234343434/works?facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 404 Not Found
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: Resource not found.
  recorded_at: 2022-11-09 09:44:42 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '504'
      message: Gateway Timeout
      explanation: The gateway server did not receive a timely response
    headers:
      status: HTTP/1.1 504 Gateway Time-out
      content-type: text/html
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: ''
      file: no
      string: "<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body>\r\n<center><h1>504
        Gateway Time-out</h1></center>\r\n</body>\r\n</html>\r\n"
  recorded_at: 2022-11-09 09:44:42 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/members?facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 400 Bad Request
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"facet","message":"This
        route does not support facet"}]}'
  recorded_at: 2022-11-09 09:44:42 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
