http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.17875/works?rows=10&facet=container-title%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rcrossref/1.2.0) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"container-title":{"value-count":98,"values":{"Multikonferenz
        Wirtschaftsinformatik 2010":209,"Materialien Deutsch als Fremd- und Zweitsprache":113,"G\u00f6ttinger
        Schriften zur Englischen Philologie":103,"G\u00f6ttinger Bibliotheksschriften":63,"G\u00f6ttinger
        Studien zu den Kriminalwissenschaften":49,"Materialen und Studien Deutsch
        als Fremd- und Zweitsprache - MatDaF":47,"Beruf(ung) DaF\/DaZ":44,"G\u00f6ttingen
        Series in Social and Cultural Anthropology":35,"Demokratie-Dialog: Werkstattbericht
        FoDEx":31,"G\u00f6ttingen Series in x-ray Physics":29,"Form, Macht, Differenz":28,"G\u00f6ttinger
        Studien zur Kulturanthropologie \/ Europ\u00e4ischen Ethnologie - G\u00f6ttingen
        Studies in Cultural Anthropology \/ European Ethnology":26,"G\u00f6ttinger
        Schriften zum Medizinrecht":26,"G\u00f6ttinger Juristische Schriften":26,"Germanistik
        in Lateinamerika":24,"\"Eine Welt allein ist nicht genug\"":24,"Vermitteln
        \u2013 Verbinden \u2013 Verstehen":23,"G\u00f6ttinger Beitr\u00e4ge zur soziologischen
        Biographieforschung":22,"Erziehungswissenschaftliche Studien":22,"Annals of
        the History and Philosophy of Biology":22,"DaF und DaZ im Zeichen von Tradition
        und Innovation":20,"Materialien Deutsch als Fremdsprache - fadaf":19,"Beitr\u00e4ge
        aus der Nordwestdeutschen Forstlichen Versuchsanstalt":19,"G\u00f6ttinger
        Beitr\u00e4ge zur Ethnologie":18,"Demokratie-Dialog":18,"T\u00fcrkisch-Deutsche
        Studien":17,"G\u00f6ttinger Schriften zum \u00d6ffentlichen Recht":17,"DaF\/DaZ
        in der ostdeutschen Transformationsgesellschaft - das Beispiel Dresden":17,"Portfolioarbeit
        im Kontext von Sprachenunterricht":16,"Of body snatchers and cyberpunks":14,"Global
        processes of flight and migration = Globale Flucht- und Migrationsprozesse":14,"Dealing
        with climate change on small islands: Towards effective and sustainable adaptation":14,"Wertorientierungen":13,"Kommunikation
        und Kulturtransfer im Zeitalter der Personalunion zwischen Gro\u00dfbritannien
        und Hannover":13,"Convergence Culture Reconsidered":13,"Multiethnic Societies
        of Central Asia and Siberia Represented in Indigenous Oral and Written Literature":12,"Kolloquien
        im Sommersemester 2021":12,"June 1967 in Personal Stories of Palestinians
        and Israelis":12,"F\u00f6rdernde Wirkung extracurricularer Angebote an Ganztagsgrundschulen":12,"Burials,
        Texts and Rituals":12,"\u00d6kologische Transformationen und literarische
        Repr\u00e4sentationen":11,"Von Emerson zu Thomas Mann":11,"India Beyond India:
        Dilemmas of Belonging":10,"Handlungsorientierter Fremdsprachenunterricht empirisch":10,"G\u00f6ttinger
        Schriften zur Internetforschung":10,"G\u00f6ttinger Forstwissenschaften":10,"Demokratie-Dialog.
        11-22":10,"\"Deepe things out of darkenesse\"":10,"ZELTForum - G\u00f6ttinger
        Schriften zu Landschaftsinterpretation und Tourismus":9,"Shakespeare im Spiegelkabinett":9,"G\u00f6ttinger
        Klassiker der Str\u00f6mungmechanik":9,"The Revolution of the People":8,"Forcing
        Nature":8,"Der Regierungsentwurf eines Verbandssanktionengesetzes vom 16.6.2020":8,"Transfers
        and Transmutations":7,"Refractions":7,"\"Seht her, auf dies Gem\u00e4lde und
        auf dies...\"":7,"Religi\u00f6ser Wandel in muslimischen Gesellschaften":6,"G\u00f6ttingen
        Studies in Cultural Property - G\u00f6ttinger Studien zu Cultural Property":6,"Annals
        of the History and Philosophy of Biology 26\/2021":6,"Studies in Euroculture":5,"Strangers,
        Migrants, Exiles":5,"G\u00f6ttinger Beitr\u00e4ge zum Alten Orient":5,"Akademie
        im Gespr\u00e4ch":5,"Von Puritanern, Relativs\u00e4tzen und wandelbaren Frauengestalten":4,"Species,
        Phylogeny and Evolution - SPE":4,"Hochschulsport: Bildung und Wissenschaft":4,"G\u00f6ttinger
        Beitr\u00e4ge zur erziehungswissenschaftlichen Forschung":4,"FoDEx-Studie":4,"Von
        \u00c6thelred zum Mann im Mond":3,"Schriften zur G\u00f6ttinger Universit\u00e4tsgeschichte":3,"Geowissenschaften
        und Bergbaugeschichte in der Dreil\u00e4nder-Region Hessen, Th\u00fcringen,
        Niedersachsen.":3,"Biodiversity and Ecology Series":3,"Widerstand - Demokratie
        - Internationalit\u00e4t":2,"Serie CEDPAL":2,"Rechtsw\u00f6rterbuch":2,"Privatdozenten
        im Schatten der Georgia Augusta. Zur \u00e4lteren Privatdozentur (1734 bis
        1831)":2,"G\u00f6ttingen Series in Biophysics":2,"G\u00f6ttingen Contributions
        to Geosciences":2,"Geobiologie":2,"Das Physikalische Praktikum Band II":2,"Das
        Physikalische Praktikum Band I":2,"Syngramma. Vortr\u00e4ge aus dem Althistorischen
        Seminar":1,"Representation of the Other":1,"Reflexion - Improvisation - Multimedialit\u00e4t":1,"Perspektivenwechsel":1,"Musikalischer
        Humor als \u00e4sthetische Distanz?":1,"Musik - Politik - Identit\u00e4t":1,"Keywords
        re-oriented":1,"Intercultural mass communication":1,"G\u00f6ttinger Schriften
        zur Landesgeschichte":1,"G\u00f6ttinger Klassiker der Str\u00f6mungsmechanik":1,"Geowissenschaften
        und Bergbaugeschichte in der Dreil\u00e4nder- Region Hessen, Th\u00fcringen,
        Niedersachsen.":1,"Dolmetschen und \u00dcbersetzen im Wirtschaftsbereich.
        Teil 2":1,"Dolmetschen und \u00dcbersetzen im Wirtschaftsbereich. Teil 1":1,"Dolmetschen
        im Rechtsbereich. Teil 2":1,"Dolmetschen im Rechtsbereich. Teil 1":1,"Begegnung
        - Vermittlung - Innovation":1}}},"total-results":1592,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T16:24:41Z","timestamp":1648657481418},"publisher-location":"G\u00f6ttingen","reference-count":0,"publisher":"G\u00f6ttingen
        University Press","isbn-type":[{"value":"9783863951887","type":"print"}],"license":[{"start":{"date-parts":[[2015,4,14]],"date-time":"2015-04-14T00:00:00Z","timestamp":1428969600000},"content-version":"vor","delay-in-days":103,"URL":"http:\/\/creativecommons.org\/licenses\/by-sa\/4.0\/deed.de"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.17875\/gup2015-797","type":"book","created":{"date-parts":[[2017,6,14]],"date-time":"2017-06-14T13:48:43Z","timestamp":1497448123000},"source":"Crossref","is-referenced-by-count":2,"title":["Synopse
        der Hauptmerkmale der forstlichen Standortskartierungsverfahren der Nordwestdeutschen
        Bundesl\u00e4nder"],"prefix":"10.17875","author":[{"given":"Wolfgang","family":"Schmidt","sequence":"first","affiliation":[]},{"given":"Volker","family":"St\u00fcber","sequence":"additional","affiliation":[]},{"given":"Thomas","family":"Ullrich","sequence":"additional","affiliation":[]},{"given":"Uwe","family":"Paar","sequence":"additional","affiliation":[]},{"given":"Jan","family":"Evers","sequence":"additional","affiliation":[]},{"given":"Klaus","family":"Dammann","sequence":"additional","affiliation":[]},{"given":"Thomas","family":"H\u00f6velmann","sequence":"additional","affiliation":[]},{"given":"Marcus","family":"Schmidt","sequence":"additional","affiliation":[]}],"member":"10770","container-title":["Beitr\u00e4ge
        aus der Nordwestdeutschen Forstlichen Versuchsanstalt"],"deposited":{"date-parts":[[2020,9,3]],"date-time":"2020-09-03T12:51:33Z","timestamp":1599137493000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/resolver.sub.uni-goettingen.de\/purl?univerlag-isbn-978-3-86395-188-7"}},"issued":{"date-parts":[[2015]]},"ISBN":["9783863951887"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.17875\/gup2015-797","ISSN":["2512-594X"],"issn-type":[{"value":"2512-594X","type":"print"}],"published":{"date-parts":[[2015]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T15:49:39Z","timestamp":1648655379978},"publisher-location":"G\u00f6ttingen","reference-count":0,"publisher":"G\u00f6ttingen
        University Press","license":[{"start":{"date-parts":[[2014,4,29]],"date-time":"2014-04-29T00:00:00Z","timestamp":1398729600000},"content-version":"vor","delay-in-days":1944,"URL":"http:\/\/creativecommons.org\/licenses\/by-nd\/2.0\/de"},{"start":{"date-parts":[[2014,4,29]],"date-time":"2014-04-29T00:00:00Z","timestamp":1398729600000},"content-version":"vor","delay-in-days":1944,"URL":"http:\/\/creativecommons.org\/licenses\/by-nd\/2.0\/de"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009]]},"DOI":"10.17875\/gup2020-1296","type":"book-chapter","created":{"date-parts":[[2020,4,2]],"date-time":"2020-04-02T14:00:21Z","timestamp":1585836021000},"page":"347-355","source":"Crossref","is-referenced-by-count":0,"title":["Als
        Ethnologin in der Medizin? Ein pers\u00f6nliches Res\u00fcmee"],"prefix":"10.17875","author":[{"given":"Vera","family":"Kaltizkus","sequence":"first","affiliation":[]}],"member":"10770","container-title":["Form,
        Macht, Differenz"],"deposited":{"date-parts":[[2020,9,3]],"date-time":"2020-09-03T14:24:14Z","timestamp":1599143054000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/resolver.sub.uni-goettingen.de[...]
